#
#  SECO system driver
#

menu "SECO mxc support"

config ECTRL
	bool "Communication system with the Embedded Controller"
	depends on I2C && ARCH_MXC
	help
		Say Y here if you want to use the Seco Communication System with the Embedded Controller.

		if usure, say Y.

config ECTRL_STM32
	bool "Communication system with the Embedded Controller STM32"
	depends on I2C && ARCH_MXC
	help
		Say Y here if you want to use the Seco Communication System with the Embedded Controller stm32.

		if usure, say Y.

config SECO_CPLD_FW
	bool "CLPD Firmware management system"
	depends on ARCH_MXC
	help
		Say Y here if you want to use the CLPD Firmware management system.

		if usure, say Y.


config SECO_PWR_BTN
	bool "SECO power button management system"
	depends on ARCH_MXC
	help
		Say Y here if you want to use the SECO power button management system.

		if usure, say Y.


config BUZZER
        bool "Buzzer Support"
	depends on PWM
        help
            This option enables support for Audio Buzzer.
            You can change pwm buzzer parameters through sysfs.

            If unsure, say Y.

config BACKLIGHT_MP3385
	tristate "Backlight driver for MPS MP3385"
	depends on BACKLIGHT_CLASS_DEVICE && I2C && PWM
	help
	  This supports MPS MP3385 backlight driver.

config BOARD_SECO_ID
		bool "S-Series board identification support"
	depends on ARCH_MXC

endmenu

